@import url("https://fonts.cdnfonts.com/css/arkhip");
@import url("https://fonts.cdnfonts.com/css/el-messiri");

html,
body {
  margin: 0;
  height: 100%;
  cursor: default;
}
body,
div,
button {
  font-family: "El Messiri", sans-serif;
}
textarea {
  font-family: sans-serif;
}
h1,
h2 {
  text-transform: uppercase;
}
.mobile_nav_container {
  display: none;
}
.page_container {
  min-height: calc(100vh - 360px);
}

nav {
  width: 100%;
  background-color: #2c2c2c;
  /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
}
.btn_container .mobile {
  display: none;
}
.mobile {
  display: none;
}
.container {
  padding: auto 5%;
}
.nav_container {
  display: flex;
  margin: 0 5%;
  padding: 12px 0 10px;
  align-items: center;
  justify-content: space-between;
}
#nav_right a i {
  display: none;
  font-size: 16px;
  padding-right: 5px;
}

.hover-underline-animation {
  text-decoration: none;
  color: white;
  letter-spacing: 0.5px;
  font-weight: bold;
  font-size: clamp(1rem, 0.92rem + 0.26vw, 1.37rem);
  position: relative;
}
#nav_right a img {
  max-width: 32px;
  max-height: 16px;
  margin-right: 4px;
}
#nav_right a img.adopt_icon {
  max-width: 24px;
}
nav a {
  text-decoration: none;
  color: white;
  letter-spacing: 0.5px;
  font-weight: bold;
  font-size: clamp(1rem, 0.92rem + 0.26vw, 1.37rem);
  position: relative;

  /* make the nav buttons unselectabke for text */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
#nav_left {
  width: 20%;
}
#nav_left img {
  min-width: 100px;
  width: calc(100% - 35%);
}
#nav_right {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

#nav_right .hover-underline-animation:hover,
.active {
  color: #f7d590;
}
.active {
  border-bottom: 2px solid #f7d590;
}
#nav_right .hover-underline-animation:after,
#nav_right span.hover-underline-animation:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  bottom: -2px;
  left: 50%;
  position: absolute;
  background: #f7d590;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
#nav_right a:hover:after {
  width: 100%;
  left: 0;
}

.baner {
  margin-top: -2px;
  background: #2c2c2c;
  display: flex;
  align-items: end;
  justify-content: center;
  padding: 5% 4%;
}
#home h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: clamp(0.8rem, 0.6rem + 1.9vw, 4rem);
}
.text-container {
  min-width: 60%;
}
.text-container p {
  text-align: center;

  margin: 2% 0;
}
.text-container p:nth-child(1) {
  font-size: clamp(1.25rem, 0.98rem + 1.22vw, 2.5rem);
  color: #fff;
}
.text-container p:nth-child(2) {
  font-size: clamp(1.62rem, 3.78vh + 2.32vw, 5rem);
  /* font-size: clamp(2.62rem, 2.09rem + 2.32vw, 5rem); */
  color: #f7d590;
}
.gradient-text {
  /* Create the gradient. */
  background-image: linear-gradient(90deg, #001cb3, #2493b4, #f7d590);

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.btn_container {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
  margin-top: 4%;
}

button {
  border: none;
  cursor: pointer;
  color: white;
  padding: 7px 35px;
  border-radius: 30px;
  font-size: 20px;
}

.btn_container button {
  padding: 5px 25px;
  margin: auto 20px;
  border-radius: 25px;
  font-size: clamp(1rem, 0.86rem + 0.59vw, 1.6rem);
}
.btn_container a:nth-child(1) button {
  color: white;
  background-color: #2c2c2c;
  border: 0.5px solid white;
}
.btn_container a:nth-child(1) button:hover {
  color: #f7d590;
  border: 0.5px solid #f7d590;
}
.btn_container a:nth-child(2) button {
  color: #f7d590;
  background-color: #484848;
}
.btn_container a:nth-child(2) button:hover {
  border: 0.5px solid #f7d590;
}

.cat_img {
  max-width: 45%;
  margin-left: -5%;
}

section h1 {
  text-align: center;

  font-family: "Arkhip", sans-serif;
  font-weight: 100;
  color: #2c2c2c;
}

hr {
  border: 1.5px solid #f7d590;
  width: 150px;
  background-color: #f7d590;
  margin-bottom: 20px;
}
.pyramids_paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}

.pyramids_paragraph img {
  max-height: 90px;
  margin-top: -60px;
}
.our_kingdom_container p {
  max-width: 45%;
  text-align: center;
  font-size: 20px;
  font-size: clamp(1rem, 0.94rem + 0.25vw, 1.25rem);
}

.divider {
  height: 150px;
}
.cat_cards {
  display: grid;
  text-align: center;
  grid-gap: 3%;
  row-gap: 30px;
}
.card {
  border: 0.5px solid #2c2c2c;
  border-radius: 10px;
  max-width: calc(100vh / 1.7);
}
.card:hover {
  transform: scale(1.025);
  background-color: #fafafa;
}

.cat_cards .card img {
  max-height: 200px;
}
.card img:not(.minusTop img, .card_parent img) {
  height: auto;
  border-radius: 20px;
  width: 92%;
  height: auto;
  max-height: 250px;
  min-height: 160px;
}
.news_cards .card h3 {
  height: auto;
}
.news_cards .card h5 {
  margin: 10px auto;
}

.minusTop img {
  margin-top: -140px;
}
.minusTop {
  margin-bottom: 120px;
}

.card h3 {
  font-family: "Arkhip", sans-serif;
  height: 40px;
  margin: 15px 0 0 0;
  text-align: center;
  bottom: 0;
  left: 0;
  vertical-align: middle;
}

.cat_cards div:nth-child(3n + 1) hr {
  border: 1.5px solid #0025ac;
  background-color: #0025ac;
}

.cat_cards div:nth-child(3n + 2) hr {
  border: 1.5px solid #4792b1;
  background-color: #4792b1;
}

.cat_cards div:nth-child(3n + 3) hr {
  border: 1.5px solid #f7d590;
  background-color: #f7d590;
}

div:nth-child(1) button {
  background-color: #0025ac;
}
.cat_cards div:nth-child(3n + 2) button {
  background-color: #4792b1;
}
.cat_cards div:nth-child(3n + 3) button {
  background-color: #f7d590;
}

.cat_cards div:nth-child(3n + 2) button:hover {
  background-color: #40839f;
}
.cat_cards div:nth-child(3n + 3) button:hover {
  background-color: #dec082;
}

.cat_cards div p:not(.kitten_card),
.card_text {
  max-width: 100%;
  font-size: clamp(0.95rem, 0.7rem + 0.25vw, 1.25rem);
  font-weight: 100;
  text-align: left;
  cursor: default;
  padding-left: 20px;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.card button {
  margin-top: 30px;
}
.card button {
  background-color: #0025ac;

  margin-bottom: 20px;
}

.card button:hover {
  background-color: #001a78;
}

.news_cards {
  display: grid;
  grid-gap: 15px;
  justify-items: center;
  text-align: center;
  padding: 0 calc(100vh / 11);
}

.news_cards div p {
  text-align: left;
}
.news {
  margin-bottom: 100px;
}
footer {
  bottom: 0;
  margin-top: 100px;
  background-color: #2c2c2c;
  color: #f7d590;
  padding: 20px 10px;
}
footer img {
  max-height: 45px;
}
footer p {
  margin: 10px 0 0 0;
}
footer div {
  width: 100%;
}
.footer_cols {
  width: 100%;
  display: flex;
  justify-content: center;
  grid-gap: 12%;
}
.footer_cols div {
  max-width: 150px;
  text-align: left;
}
.footer_cols h3 {
  font-family: "Arkhip", sans-serif;
  margin-bottom: -4px;
}
.footer_cols ul {
  cursor: pointer;
  list-style: none;
  padding: 0;
}

.socials {
  color: inherit;
  display: flex;
  gap: 20%;
  align-items: center;
  font-size: 20px;
  /* margin-top: 10px; */
}
#copyright {
  text-align: center;
}

.gradient_img {
  border: double 3px transparent;
  border-image: linear-gradient(90deg, #001cb3, #2493b4, #f7d590) -10;
  /* border-image-slice: 1;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d); */
  background-image: linear-gradient(white, white),
    linear-gradient(90deg, #001cb3, #2493b4, #f7d590);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.info_container {
  max-width: 80%;
  margin-left: 20%;
  margin-right: 20%;
}

.pyramids_H1 {
  display: flex;
  margin: 40px 0 20px 0;
  justify-content: center;
  align-items: center;
}
.pyramids_H1 img {
  max-height: 80px;
}
.pagesH1 {
  font-family: "Arkhip", sans-serif;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  font-size: clamp(1rem, 0.8rem + 1.6vw, 4rem);
}

.yellow_container {
  width: 100wh;
  background-color: #fdd585;
}
.adoption_section2,
.adoption_section4 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 40px 0;
}
.adoption_section2 img {
  max-height: 400px;
  margin-left: -70px;
}

.adoption_section2 div ul {
  list-style: none;
  text-align: left;
}
.adoption_section2 div ul li::before {
  content: "\2022";
  color: #f5cc7a;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.adoption_section2.round_container div.round_container {
  width: 100%;
}
.adoption_section2.round_container {
  background-color: transparent;
  border: none;
  padding: 0;
}
.round_container {
  padding: 30px;
  text-align: center;
  width: 80%;
  background-color: white;
  border: 1px solid #9a9a9a;
  border-radius: 15px;
}
.adoption_section4 img {
  max-height: 500px;
  margin: 120px -30px 0 -50px;
  width: calc(100vw / 2.6);
  z-index: 99;
}
.adoption_section4 .round_container {
  z-index: 98;
}

.adoption_section4 {
  align-items: center;
}

.Adoption_contactUs button {
  margin: 30px 0 -50px 0;
  background-color: #f7d590;
}
.Adoption_contactUs button:hover {
  background: linear-gradient(0.25turn, #001cb3, #2493b4);
}
.ourCatP {
  max-width: 60%;
  margin: auto;
  text-align: center;
  font-size: 18px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.about_section {
  padding: 40px 0;
  gap: 5%;
  display: flex;
  justify-content: center;
}
.aboutOwner {
  display: flex;
  align-items: center;
}
.aboutOwner img {
  max-width: 30%;
}
.aboutOwner div {
  min-width: 58%;
}

.about_section2 img {
  height: 480px;
}
.about_section2 {
  padding: 0 7%;
}
.about_section3 div {
  min-width: 42%;
  align-items: center;
}

.about_section3 div:nth-child(1) hr {
  border: 1.5px solid #0025ac;
  background-color: #0025ac;
}
.about_section3 div:nth-child(2) hr {
  border: 1.5px solid #4792b1;
  background-color: #4792b1;
}

.about_section3 .round_container p {
  margin: 0;
}

.about_section3 .round_container ul {
  text-align: left;
  list-style: none;
  margin: 0;
}

.about_section3 .round_container ul li::before {
  content: "\2022";
  color: #4792b1;
  font-weight: 900;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.contact_section {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  align-items: center;
}
.contact_section img {
  width: 20%;
}
.contact_section .round_container {
  margin: 20px 0;
}
.contact_info_container {
  width: 100%;
  display: grid;
  justify-self: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
}
.contact_info_container div p {
  text-align: right;
}
.contact_info_container img {
  height: 40px;
  width: auto;
}

.Available {
  color: green;
}
p.Reserved,
span.Reserved {
  color: #a13c2a;
}
.Adopted {
  color: #2493b4;
}
.Stays {
  color: #001cb3;
}
.detail_card {
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}
div#text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* div#image {
  width: 50%;
} */
div#text p,
b {
  width: 100%;
  text-align: left;
  margin-bottom: 0;
}
.detail_card #text {
  width: 45%;
  text-align: left;
}
.detail_card imp {
  width: 45%;
}
.detail_card img {
  width: 100%;
  height: auto;
}
.detail_card_btn_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 50%;
  text-align: center;
}

.detail_card_btn_container button {
  background-color: #9a9a9a;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  color: white;
  cursor: not-allowed;
}

.detail_card_btn_container button.Available {
  background-color: #001cb3;
  cursor: pointer;
}
.detail_card_btn_container p {
  display: none;
  width: 60%;
  text-align: center;
}
.detail_card_btn_container p.Reserved {
  display: block;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  height: 580px;
  overflow-y: auto;

  border: 1px solid #888;
  width: 70%;
}
.modal_container {
  display: flex;
  align-items: center;
  /* min-height: calc(100vh - 200px); */
}
.modalImg {
  background-image: url("../img/formCat.png");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
  background-size: cover;
  width: 48%;
  height: 520px;
  margin: -20px;
  margin-left: 13px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
}
.modalImg h1 {
  text-align: center;
}
.modal_container form {
  width: 45%;
  padding: 0px 20px 0 30px;
}
.succeseful_message {
  width: 45%;
  padding: 0px 30px 0 50px;
}

.modal_container p {
  font-weight: 800;
}
/* The Close Button */
.close {
  color: #d3d3d3;
  float: right;
  position: absolute;
  top: 10%;
  left: 81%;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  display: block;
  margin-top: 15px;
}
input,
textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  resize: none;
  border: none;
  border-bottom: 1px solid #d3d3d3;
}

input[type="text"]:focus,
textarea:focus {
  /* border-bottom: 2px solid #2c2c2c; */
  border-bottom: 3px solid #f7d590;
}

textarea::-webkit-scrollbar {
  width: 4px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #f7d590;
}
input[type="submit"] {
  margin-top: 30px;
  width: 90%;
  max-width: 200px;
  background-color: #f7d590;
  color: white;
  font-size: 17px;
  cursor: pointer;
  border-radius: 5px;
}
.error {
  color: red;
}
.error-border {
  border-bottom: 1px solid red;
}

.succeseful_message span {
  content: "\2713";
  font-size: 100px;
  margin-bottom: -40px;
}

.space_bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.general_margin,
.footer_cols {
  margin: 2% 7%;
}

.detail_mobile {
  display: none;
}
.fa-star {
  color: orange;
  /* color:#E2B135; */
}
/* 






*/
.is-visible {
  opacity: 1;
  pointer-events: auto;
}
.back {
  margin-bottom: -60px;
  margin-top: 10px;
  font-weight: 600;
  font-size: larger;
  cursor: default;
  color: #2c2c2c;
  transition: transform 650ms;
}
.back:hover {
  left: 150px;
  transform: translateX(-15px);
}
i.uil.uil-arrow-left {
  font-size: 30px;
  color: #2c2c2c;
  margin-bottom: -4px;
}

a.left.nav-link {
  display: flex;
  align-items: center;
}

.hide_father,
.hide_mother {
  z-index: 8;
  display: none;
  float: right;
  position: absolute;
  top: 1%;
  padding: 5px 25px;
  background-color: white;
  border: 1px solid #9a9a9a;
  border-radius: 15px;

  font-weight: bold;
}
.card_parent img {
  max-width: 250px;
  border-radius: 20px;
}
.card_parent p {
  text-align: left;
  padding-left: 40px;
}
.hide_father:not(.detail_card .hide_father) {
  right: 15%;
}

.hide_mother {
  left: 15%;
}

.parents {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 20px;
  margin-left: 40px;
}
.mother,
.father {
  cursor: context-menu;
}
.mother:hover + .hide_mother,
.father:hover + .hide_father {
  display: block;
  text-align: center;
  cursor: pointer;
}

.popup_info,
.popup_info2 {
  cursor: default;
  display: flex;
  gap: 15px;
  background-color: #f7d590e1;
  padding: 30px;
  width: 360px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: -5px;
  transition: width 3s;
}
.popup_info_close,
.popup_info_close2 {
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;
  margin-top: -10px;
  margin-left: -10px;
  /* margin: 0; */
}

.detail_card .card_parent p {
  /* padding: 0 0 0 12px; */
  font-weight: normal;
}

.detail_card .hide_father {
  left: 25%;
}
.detail_card .hide_mother {
  left: 45%;
}
.detail_card .hide_father,
.detail_card .hide_mother {
  top: 45%;
}
.detail_card .parents {
  width: 100%;
  justify-content: space-around;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
.detailview {
  margin: -50px;
  padding: 50px;
}
.bootom_kitten_card {
  width: 100%;
  margin: 0 -50px -32px;
  padding: 0 50px 50px;
}
.previous_litters .card {
  cursor: not-allowed;
}
